/*body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

input, textarea {
    font-size: 18px;
    width: 200px
}

input[type="submit"] {
    width: auto;
}

label {
    font-size: 16px;
}

#theForm {
    background-color: lightgrey;
}

#theForm input[type=submit] {
    background-color: green;
    color: red;
}

ul.product-props {
    list-style-type:none;
    font-size:small;
}

.product-info {
    border: 1px solid grey;
    display: inline-block;
    padding: 8px 2px;
    margin: 2px;
    width: 450px;
    border-radius: 5px;
}

.product-info img {
    margin:3px;
    float:left;
    border: 1px solid black;
    max-width:150px;    
}

#loginToggle {
    cursor:pointer;
}

.popup-form {
    padding: 5px;
    border: 2px black inset;
    border-radius:5px;
    display: inline-block;
}
.popup-form input {
    width: 200px;
}

.popup-form label {
    width: 150px;
    display: inline-block;
}

.popup-form input[type=checkbox], .popup-form input[type=submit]{
    width: auto;
}  

menu>ul>li {
    display: inline;
}

menu > ul > li:after {
    content: ' |';
}

menu > ul > li:last-of-type:after {
    content:"";
}
*/